/*.sprite {
    background-image: url(../img/sprite/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--check {
    width: 24px;
    height: 18px;
    background-position: -10px -10px;
}

.sprite--icon-basket3 {
    width: 15px;
    height: 15px;
    background-position: -10px -48px;
}

.sprite-icon-basket {
    width: 15px;
    height: 15px;
    background-position: -10px -83px;
}

.sprite-icon-f {
    width: 12px;
    height: 22px;
    background-position: -10px -118px;
}

.sprite-icon-inst {
    width: 21px;
    height: 21px;
    background-position: -10px -160px;
}

.sprite-icon-vk {
    width: 26px;
    height: 15px;
    background-position: -10px -201px;
}

*/

body {
  min-width: 900px;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  line-height: 22px;
}


h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 50px;    
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;    
}

h3 {
  font-size: 18px;
  font-weight: normal;
   line-height: 30px;
    text-transform: uppercase; 
}

h4{
 font-size: 40px;
line-height: 50px;
text-transform: uppercase; 
}
/*HEADER*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  background: #eee;
  margin: 0 auto;
}

.logo{
float: left;
width: 140px;
height: 60px;
margin: 27px 20px 40px 10px;
}

.container {
}

.main-navigation {
  float: left;
  width: 450px;
  font-size: 0;
  margin-top: 55px;
  margin-left: 140px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase; 
}

.main-navigation a {
 display: block;  
 margin: 0 22px;
 text-decoration: none;
 color: #000000;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000;
  opacity: 0.4;
}

.main-navigation .active {
  position: relative;
  
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color:#fb565a;
  width: 100%;
}

.user-block {
  float: right;
  width: 100px;
}

.basket{
    display: block;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    text-decoration: none;
    padding-left: 34px;
    margin-top: 55px;
    padding-bottom: 40px;
    color: #000000;
    position: relative;
}

.basket:hover{
color: #fb565a;
}

.basket:active {
  color: #000;
  opacity: 0.4;
}

.basket::before {
  content: "";
  position: absolute;  
  top: 6px;
  left: 7px;
  width: 15px;
  height: 15px;
  background-image: url(../img/sprite/spritesheet.png);
  background-position: -20px -133px;
  opacity: 0.3; 
}

.basket:hover::before {
  content: "";
  position: absolute;
  left: 7px;
  width: 15px;
  height: 15px;
  background-image: url(../img/sprite/spritesheet.png);
  background-position: -20px -78px;  
  opacity: 0.9;
}

.basket:active:before {
  content: "";
  position: absolute;
  left: 7px;
  width: 15px;
  height: 16px;
  opacity: 0.3;
  background-image: url(../img/sprite/spritesheet.png);
  background-position: -20px -133px;
}
.bottom-container{
  clear: both;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 75px;
}

.basket .active{
color: #000;  
border-bottom: 2px solid #fb565a;
}

/*----------------------------SLIDER---------------------*/
.slider {
  clear: both;
  width: 880px;
  padding-left: 10px;
  padding-right: 10px;
}

.slider-content {
}

.slider input[type="radio"] {
  display: none;
}
.slider-item{
min-height: 308px;
background-repeat: no-repeat;
background-position: 100% 10px;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  vertical-align: top;
  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 75px;
  left: 50%;
   width: 200px;
  margin-left: -100px;
  text-align: center;
}


.left{
float: left;
width: 480px;
padding-top: 20px;
text-align: left;
}

.left h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    padding-right: 80px;
    margin-bottom: 0;
    margin-top: 0;
}

.left p {
    font-size: 16px;
    line-height: 22px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 27px;
    margin-bottom: 0;
    margin-top: 0;
    color: #283136;
    font-weight: 500;
}

.btn {
  width: 140px;
  height: 38px;
  text-align: center;
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height:38px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #d6494d;
}

.btn:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.20);
}

.red-big{
  width: 220px;
  
  font-weight: 300;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slider/slider1.png");
}

.slider-item:nth-child(2) {
  background-image: url("../img/slider/slider2.png");
}

.slider-item:nth-child(3) {
  background-image: url("../img/slider/slider3.png");
}

/*-----------ANIMATION SLIDE

#btn-11:checked ~ .slider-content .slider-item:nth-child(1) {
   left: 0;
}

#btn-11:checked ~ .slider-content .slider-item:nth-child(2),
#btn-11:checked ~ .slider-content .slider-item:nth-child(3) {
left: 880px;
}

#btn-22:checked ~ .slider-content .slider-item:nth-child(1) {
  left: -880px;
}

#btn-22:checked ~ .slider-content .slider-item:nth-child(2) {
  left: 0;
}

#btn-22:checked ~ .slider-content .slider-item:nth-child(3) {
  left: -880px;
}

#btn-33:checked ~ .slider-content .slider-item:nth-child(1) {
  left: -880px;
}

#btn-33:checked ~ .slider-content .slider-item:nth-child(2) {
  left: -880px;
}

#btn-33:checked ~ .slider-content .slider-item:nth-child(3) {
  left: 0;
}---------*/

.slider-item {
  display: none;
}

#btn-11:checked ~ .slider-content .slider-item:nth-child(1){
  display: block;
}

#btn-22:checked ~ .slider-content .slider-item:nth-child(2){
  display: block;
}

#btn-33:checked ~ .slider-content .slider-item:nth-child(3){
  display: block;
}

#btn-11:checked ~ .slider-controls label[for="btn-11"],
#btn-22:checked ~ .slider-controls label[for="btn-22"],
#btn-33:checked ~ .slider-controls label[for="btn-33"] {
  background: #c1c1c1;
}

.main-h{
    margin: 68px 116px 89px 102px;
    text-align: center;
}

/*----------------------INDEX----------------------------*/


.catalog {
height: 301px;
margin-left: 10px;
margin-right: 10px;
margin-top: 81px;
margin-bottom: 70px;
}

.catalog-item{
float: left;
width: 240px;
padding-right: 80px;
}

.pic {
 display: block;
 height: 124px;
 margin-bottom: 27px; 
}

.name{
    color: black;
  text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
}

.catalog-item p{
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 20px;
    padding-top: 16px;
    margin: 0;
}



.btn-green{
  background-color: #00ca74;
}
.btn-green:hover {
  background-color: #01a25e;
}

.btn-green:active {
  background-color:#009053;
}

.btn-yellow{
background-color: #efc84a;  
}

.btn-yellow:hover {
  background-color: #d6ae2c;
}
.btn-yellow:active {
  background-color:#c09b24;
}

.catalog-item:last-child{
  padding-right: 0px;
}

.about-us{
    height: 475px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 2px solid #eeeeee;  
}

.content-left{
  float: left;
  width: 577px;
  height: 335px;
  padding-top: 0;
  margin-right: 57px;
  margin-top: 72px;
}

.content-left h2{
margin-top: 0;
margin-bottom: 17px;
}

.content-left p{
 margin-bottom: 0px;   
}

.date {
    width: 240px;
    height: 60px;
}

.date p{
    padding-top: 28px;
    padding-right: 70px;
    padding-left: 75px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 70px;
    margin-top: 0;
    position: relative;
}

.content-right{
 display: block;
  float: right;
  width: 240px;
  height: 400px;
  margin-right: 0px;
  margin-top: 65px;
}

.logo-2{
  margin-left: 30px;
  margin-right: 20px;
}

.date p::before {
  content: "";
  position: absolute;
  top: 38px;
  left: 0;
  width: 65px;
  height: 2px;
  background-color: #eeeeee; 
}

.date p::after {
  content: "";
  position: absolute;
  top: 38px;
  right: 5px;
  width: 65px;
  height: 2px;
  background-color: #eeeeee;
}
p.second-header{
  margin-top: 47px;
  margin-bottom: 27px;
  font-size: 16px;
  line-height: 22px;
   text-transform: uppercase;   
}

.about-us-list {
  padding: 0;
 list-style: none;
 position: relative;
}

.about-us-list li {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
  padding-left: 37px;
  position: relative;
}

.about-us-list li::before{
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;  
  position: absolute;
  left: 0;
  top: 10px;  
}

.about-us-list-item:last-child{
  margin-bottom: 70px;
}

.partners { 
  height: 166px;
  margin-bottom: 85px;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;  
}

.partners a{
  width: 210px;
  display: inline-block;
  vertical-align: middle;
  margin: 40px 95px 30px 10px;  
  opacity: 0.3;
}

.partners a:last-child {
  margin-right: 10px;
}

.partners a:hover {
  opacity: 1;
}


/*--------------FILTER-----------------*/

.sidebar {
  float: left;
  width: 240px;
  margin-left: 10px;
  margin-right: 80px;
}

aside{
    height: 730px;
}
aside h3{
    margin-top: 0;
    margin-bottom: 20px;
}
.range-filter {
  width: 240px;
  margin-top: 15px;
  margin-bottom: 50px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  margin-top: 0;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 145px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-size: 16px;
  width: 80px;
  height: 38px;
  margin-left:5px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}

.filter-list{
   padding-left: 0;
   margin-bottom: 0;
   list-style: none;
}

.filter-item{
   margin-bottom: 19px;
   height: 26px;
   line-height: 20px;
  font-size: 16px;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] + label{
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-left: 30px;
  color: #454c51;
  cursor: pointer;
}


input[type="checkbox"] + label::before{
    content: "";
    display: block;
    width: 25px;
    height: 25px;
     background: url("../img/sprite/check-off.png") no-repeat center;
    position: absolute;
    top: -3px;
    left: -2px;
    opacity: 0.8;
}

input[type="checkbox"]:checked + label::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/sprite/check-on.png") no-repeat center;
   
}

input[type="checkbox"] + label:hover {
  color: #000000;
}

input[type="checkbox"] + label:hover:before{
    opacity: 1;
    color: black;
}

input[type="checkbox"] + label:active {
  color: #000;
  opacity: 0.4;
}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:disabled + label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    background: url("../img/sprite/check-on.png") no-repeat center;
    border: none;
}

input[type="checkbox"]:disabled + label {
    opacity: 0.3; }  


input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  
  padding-left: 30px;
  color: #454c51;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  position: absolute;
  top: -2px;
  left: 0;
  border: 3px solid #c1c1c1;
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid #c1c1c1;
  border-radius: 50%;  
  background: url('../img/sprite/dot.png') no-repeat 3px 0px;
}


.filter-item:last-child{
    padding-bottom: 25px;
}


input[type="radio"] + label:hover {
  color: #000000;
}

input[type="radio"] + label:hover:before{
    border: 3px solid #b5b5b5;
}


input[type="radio"]:checked + label::before,
input[type="radio"]:disabled + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    background: url('../img/sprite/dot.png') no-repeat 3px 0px;
}

input[type="radio"]:disabled + label {
    opacity: 0.3; }  


.btn-filter{
    width: 155px;
    height: 38px;
    line-height: 38px;
    background-color: #f1f1f1;
    color: black;
}

.btn-filter:hover{
    background-color: #e5e5e5;
}

.btn-filter:active{
 background-color: #d5d5d5;  
}

button{
    outline: none;
    border: none;
}
/*--------------CATALOG-----------------*/


.container{
position: relative;
width: 900px;
margin: 0 auto;
}

.right-block{
float: right;
width: 560px;
margin-right: 10px;
}

.sorting {
float: left;
display: block;
width: 560px;
margin-bottom: 20px;
}

.sort-list{
display: inline-block;
 width: 460px;
 padding-left: 0; 
 margin-right: 0;
 margin-bottom: 0;
 margin-top: 0;
}

.sort-punkt{
display: inline-block;
vertical-align: middle;  
font-size: 12px;
line-height: 18px;
text-transform: uppercase;
padding-right: 38px;
}

.sort-item{
   color: #cacaca;
   text-decoration: none;
    border-bottom: 1px dashed #00ca74;  
}

.sort-item:hover{
 color: black;
 border-bottom: 1px solid #00ca74;
}

.sort-item:active {  
 border-bottom: 1px solid white;
}

.sort-list a.active{
color: black;
border-bottom: none;
}
.sort-list a.active::after{

color: black;
}

.arrow{
    display: inline-block;
    width: 50px;
    margin-right: 0;
    margin: 0;
   
}
.arrow li {
    float: right;
    text-decoration: none; 
    display: inline-block;
    vertical-align: middle;
    line-height: 7px;
    margin: 0;
    padding: 0;
}

.triangle-down{
  margin-left: 5px;
  display: inline-block;
  border: 10px solid #c1c1c1;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}

.triangle{
  display: inline-block;
  border: 10px solid #c1c1c1;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}

.triangle:hover{
  border: 10px solid #b5b5b5;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}

.triangle-down:hover{
  border: 10px solid #b5b5b5;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}

.triangle:active{
  border: 10px solid #000000;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}

.triangle-down:active{
  border: 10px solid #000000;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}

.arrow a.active{
  border: 10px solid #00ca74;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;  
}

.arrow a.active::after{
  border: 10px solid #00ca74;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;  
}



.catalog-2 {
    clear:both;
   width: 560px;
   margin-right: 10px;
   margin-left: 0px;
  margin-top: 18px;
   font-size: 0;
}

.catalog-item-c {
  width: 240px;
  height: 240px;
  display: inline-block;
  vertical-align: top; 
  margin-bottom: 80px;
  padding-top: 30px;
  padding-bottom: 0;
  background-color: #f1f1f1;
  border-radius: 5px 5px 0 0;  
  font-size: 0;
  position: relative;
  margin-right: 80px;
}
.catalog-item-dots {
    content: "";
    position: absolute;
    width: 60px;
    height: 10px;
    top: 10px;
    left: 10px;
} 

.catalog-dot{
display: inline-block;
margin-right: 8px;
border-radius: 50%;
width: 10px;
height: 10px;
background: white;
}

.catalog-item-c:hover{
background-color: #797979;
}

.catalog-item-c:nth-child(2n) {
  margin-right: 0;
}
.catalog-item-c:nth-child(4n) {
  margin-right: 0;
}
.catalog-item-c:nth-child(6n) {
  margin-right: 0;
}

/*---------------------ITEM CARD CATALOG------------------*/
.item-description h2 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 33px;
  text-transform: uppercase;
  text-align: center;
}

.item-description {
  overflow: hidden;
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 20px;
  padding-bottom: 30px;
  top: 30px;
  left: 2px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.item-description p {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.item-description a {
}

.btn-buy{
    line-height: 38px;
    margin-left: 30px;
    padding: 0;
    width: 140px;
    height: 38px;
    color: white;
    font-size: 18px;
}

.item-description{
    display: none;
}

.catalog-item-c:hover .item-description{
    display: block;
}



/*----------PAGINATION-------------------*/

.pagination {
 
  margin-bottom: 79px;
  font-size: 0;
}

.pagination ul {
  margin: 0;
  padding: 0;
}

.pagination-list li {
  display: inline-block;
  vertical-align: middle; 
}
  

.pagination-next{
  width: 140px;
}

.pagination-item {
    text-align: center;
    margin-right: 10px;
    height: 34px;
    width: 34px;
    line-height: 38px;
    background-color: #f1f1f1;
    border-radius: 3px;
    border: 2px solid transparent;
}

.pagination-current {
    background: #fff;
    border: 2px solid #e1e1e1;
}

.pag {
    font-size: 14px;
    text-decoration: none;
    color: #000;}

.pag1 {
   text-transform: uppercase;
}

.pagination-next{
  width: 140px;  
}

.pagination-item:hover,
.pagination-item-next:hover{
    background-color: #e5e5e5;
}

.pagination-item:active,
.pagination-item-next:active{
    background-color: #d5d5d5;
}



/*----------------FOOTER------------------*/

.main-footer {
position: relative;
}

.google-map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 417px;
  background: #e9e5dc;
  text-align: center;
}


.top {
height: 416px;
}

.write-us{
 float: left;
 box-sizing: border-box; 
 max-width:  250px;
 min-height: 240px;
 background: #fff;
 margin-top: 88px;
 margin-left: 10px;
 padding-left: 23px;
 padding-right: 23px;
}

.write-us h3{
  padding-top: 28px;
  padding-bottom: 20px;
  margin: 0;
}

.write-us p{
font-size: 16px;
line-height: 20px;
color: #666666;
text-align: left;
margin-bottom: 20px;
margin-top: 0;
}


/*.logo-3{
 position: relative;
 width: 98px;
 height: 38px;
 padding-top: 167px;
 padding-right: 50px;
 z-index: 2;
}

.marker{
position: absolute;
top: 120px;
right: -70px;
z-index: 1;
}*/

.red-big{
    padding: 0;
    width: 206px;
    height: 38px;
    border-radius: 3px;
}


/*.marker{
position: absolute;
top: 120px;
right: -70px;
z-index: 1;
}

.logo-3{
float: right;
width:100px;
height: 50px;
}*/


.footer-marker{
    width: 196px;
    height: 189px;
    position: absolute;
    float: left;
    background: url("../img/marker-footer.png");
    top: 30px;
    right: 40px;
}

.logo-3{
    display: block;
    width: 98px;
    height: 38px;
    margin-top: 55px;
    margin-left: 30px;
}

/*---------------FOOTER BOTTOM------------------------*/
.bottom{
}

.footer-social {
float: left;
width: 240px;
margin-left: 10px;
margin-top: 77px;
margin-bottom: 77px;
margin-right: 77px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background: #e1e1e1 url(../img/sprite/spritesheet.png) no-repeat center;
  margin-right: 20px;
  text-decoration: none;
}

.social-btn:hover {
  background-color: #fb565a;  
}

.social-btn:active {
  background-color:#d6494d;
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.20);
}

.social-btn-fb {
 background-position: 4px -170px;

}
.social-btn-inst{
    background-position: 0px -231px;
}

.social-btn-vk{
    background-position: -3px -288px;
}

.footer-social a:last-child {
  margin-right: 0;
}

.footer-text {
float: right;
width: 550px;
height: 80px;
margin-top: 65px;
margin-bottom: 65px;
margin-right: 10px;
}
 
.footer-text h2 {
margin-bottom: 5px;
margin-top: 10px;    
}

/*-----------FEEDBACK WINDOW-----------------*/

.feedback-content {
  box-sizing: border-box;
  position: fixed;
  top: 10%;
  left: 50%;  
  margin-left: -310px;
  margin-bottom: 200px;
  width: 630px;
  height: 416px;
  padding: 41px 90px 49px 80px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.7);
  display: none;
}

.feedback-content-show{
   display: block;
   animation: bounce 0.6s;
}
 .feedback-error {
  animation: shake 0.6s;
}

.feedback-close {
  width: 41px;
  height: 41px;
  padding: 0;
  font-size: 0;
  background-color: #fb565a;
  border-radius: 50%;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 6px;
}

.feedback-close::before {
  content: "";
  width: 5px;
  height: 25px;
  background-color: #fff;
  transform: rotate(45deg);  
  position: absolute;
  top: 8px;
  left: 18px
}

.feedback-close::after {
  content: "";
  width: 5px;
  height: 25px;
  background-color: #fff;
  transform: rotate(-45deg);  
  position: absolute;
  top: 8px;
  left: 18px;  
}

.write-us-fb {
 width: 460px;
 box-sizing: border-box;
}

.write-us-fb label {
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  margin-bottom: 20px;
}

.write-us-p {
  width: 196px;
  margin-top: 0;
  margin-bottom: 10px;
}


.field-right{
float: right;
}

.field-left{
 float: left;
 margin-right: 15px;
}

.bottom-field{
clear: both;
height: 142px;
margin-top: 21px;
}

.write-us-field {
  width: 196px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 8px 10px;
}


.write-us-field:hover {
  border-color: #a2a9ac;
}

.write-us-field:focus{
  border-color: #56bffb;
}

.write-us-field {
  text-transform: uppercase;
  font-size: 12px; 
  color: black;
}

.text-field {
  box-sizing: border-box;
  width: 100%;
  height: 94px;
  
}

.write-us-btn {
  margin-top: 48px;
  width: 100%;
  display: block;
}

/*ANIMATION*/

@keyframes bounce {
  from {transform: translateX(-1000px);}
  to {transform: translateX(0);}  
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}