body {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  line-height: 18px;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 36px;    
}

h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;    
}
